h2 {
    background: #2A7B9B;
    background: linear-gradient(125deg, rgba(42, 123, 155, 1) 0%, rgb(237, 152, 83) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}
/*body {
    background: #707052;
    background: linear-gradient(125deg,rgba(74, 74, 74, 1) 7%, rgba(122, 86, 61, 1) 100%);
}*/
/*h4 {
    text-decoration: underline;
    text-decoration-color: rgb(160, 150, 150, 40%);
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
}*/
h1 {
    font-size: 50px;
}
span {
    font-size: 12px;
}